.section-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    max-width: 750px;
    min-height: 550px;

    margin-top: 1em;
    padding: 1em;
    margin: 1em auto;

    background-color: rgba(242, 242, 242, 0.2);
    font-size: 1.1em;
    
    border-radius: 1em;
}