.section-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    max-width: 750px;
    min-height: 550px;

    margin-top: 1em;
    padding: 1em;
    margin: 1em auto;

    background-color: rgba(242, 242, 242, 0.5);
    font-size: 1.1em;
    
    border-radius: 1em;
}
.section-about p{
    text-align: center;
    margin: 1em;
}
.section-about h1{
    font-size: 1.5em;
	margin: 1em 0;
	border-bottom: 1px solid;
}

@media (max-width:760px){
    .section-about{
        border-radius: 0;
    }
}