.section-gallery{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    max-width: 750px;
    min-height: 800px;

    margin: 1em auto;
    font-size: 1.1em;
    padding:0 2em;
    text-align: center;

    background-color: rgba(242, 242, 242, .5);
    border-radius: 1em;
}
.section-gallery h1{
    margin: 1em;
    font-size: 1.5em;
    border-bottom: 1px solid;
}
.section-gallery p{
    padding-bottom: 1em;
}
.section-gallery .reservation-button{
    margin-bottom:0.5em ;
}
.section-gallery .image{
    width:400px;
    margin-top: 0.5em;
    border-radius: 1em;
}
.price{
    text-decoration: underline;
}

@media (max-width:760px){
    .section-gallery{
        border-radius: 0;
    }
}