
@font-face {
    font-family: "quantumn";
    src: url("fonts/quantumn-webfont.woff") format('woff');
  }

nav {
    color:rgba(242, 242, 242, 1);
	background-color: rgba(1, 35, 64, 0.408);
}

.navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.nav-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	min-height: 80px;
}

.logo {
	
    border:none;
	margin-left: 1.5em;
}

.button {
	display: none;
}

.nav-list {
	margin: 0 auto;
}

.link {
	font-size: 1.3em;

	margin-left: 1em;
	padding: 0.3em 0.5em;

	border-radius: 1em;
    border-left: 3px solid rgba(242, 242, 242, 1);
    cursor: pointer;
}

.link:hover,.link:focus {
	background-color:rgba(104, 142, 165, 0.5);
    transition: all 0.1s;
}

.active {
	border:3px solid rgba(242, 242, 242, 1);
}
/*max 1100*/
@media (max-width:1300px){
    .logo {
        width: 250px;
        padding-left: 0.5em;
    }
    .link {
        font-size: 1.2em;
    
        margin-left: 1em;
        padding: 0.3em 0.5em;
    
        border-radius: 1em;
    }
    
}
@media (max-width: 1116px){
    .link{
        margin-left: 0.5em;
        font-size: 1.2em;
    }
}

@media (max-width: 1000px) {
	.navigation {
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}
    .nav-header{
        width: 100%;
    }
    .button {
        display: block;
        font-size: 2em;
        margin-right: 1em;
    }
    .link{
        display: block;

        padding: 0.2em 1em;
    }

    /*classes for react states*/
    .hide{
        height:0px;
        overflow: hidden;
        transition: all 0.3s linear;
    }
    .show{
        height:300px;
        transition: all 0.3s linear;
    }
}
